:root {
  --c_bon: rgb(254, 169, 0);
  --c_trucha:rgb(0, 209, 147);
  --c_alfonso: rgb(255, 60, 96);
  --c_phony: rgb(110, 80, 244);
}
body, html {
  overflow: hidden;
}

body {
  background: rgb(242, 242, 242);  
  color: rgb(0, 0, 0);
}

.boton{
  position: absolute;
  display: grid;
  justify-items: start;
  align-items: start;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-weight:600;
  z-index: -1;
}

.boton.active{
  cursor: move;
  user-select: none;
  z-index: 1;
}

.artist{
  position: relative; 
  height: 20px;
  padding: 10px;
  background-color: white;
  outline: solid 3px rgb(0, 0, 0);
  outline-offset: -1.5px;
  border-color: rgb(0, 0, 0);

}

.boton:hover > .images{
  opacity: 100%;
  max-width: 600px;
  left: 290px;
  top: 40px;
}

.information{
opacity: 0%;
}

.information.active{
  width: 250px;
  height: auto;
  padding: 20px;
  background-color: wheat;
  outline: solid 3px rgb(0, 0, 0);
  outline-offset: -1.5px;
  border-color: rgb(0, 0, 0);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.186);

  font-size: 0.8rem;
  color: white;
  font-weight:400;
  opacity: 0%;
  animation: into 0.5s linear forwards;
}

@keyframes into {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.group{
color: transparent;
}

.group.active{
  position: relative;
  max-width: 250px;
  height: auto;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  outline: solid 3px rgb(0, 0, 0);
  outline-offset: -1.5px;
  border-color: rgb(0, 0, 0);
  /* white-space: nowrap; */

  opacity: 0%;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  font-weight:600;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.186);

  animation: into_a 0.1s 0.2s linear forwards;
}

@keyframes into_a {
  from {
    opacity: 100%;
    transform: skew(5deg,5deg);    
  }
  to {
    opacity: 100%;
    transform: skew(0deg,0deg);  }
}

.close{
  position: absolute;
  width: fit-content;
  height: 22px;
  top: 40px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(0, 0, 0);
  outline: solid 3px rgb(0, 0, 0);
  outline-offset: -1.5px;
  border-color: rgb(0, 0, 0);
  white-space: nowrap;

  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight:700;
  text-align: center;
  
}

.close.active{
  position: relative;
  top: 0px;
}

.images{
  position: absolute;
  max-width: 10px;
  left: 0px;
  top: 0px;
  opacity: 0%;
  outline: solid 3px rgb(0, 0, 0);
  outline-offset: -1.5px;
  border-color: rgb(0, 0, 0);
}

.images.active{
  opacity: 100%;
  max-width: 600px;
  left: 290px;
  top: 40px;
}

footer{
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  outline: solid 3px;
  outline-offset: -1.5px;
  border-color: rgb(242, 242, 242);
}

a:link, a:visited {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2rem;
  font-weight:900;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  color:rgb(242, 242, 242);
  outline: solid 3px;
  outline-offset: -1.5px;
  border-color: rgb(242, 242, 242);
}

a:hover {
  background-color: rgb(242, 242, 242); 
  font-style: italic;
  color: rgb(0, 0, 0);
  outline: solid 3px;
  outline-offset: -1.5px;  
  border-color: rgb(242, 242, 242);

}

.info{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-style: italic;
  font-weight:400;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  color:rgb(242, 242, 242);
}